<div class="container-fluid">
	<div class="row">
		<span class="col-lg-3">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<!-- <div class="mynav">
							
						</div> -->
						<h1 class="heading"><img src="http://openweathermap.org/img/w/{{Data.icon}}.png"/>{{Data.discription}}</h1>
						<h3 class="location">{{Data.CityName}}</h3>
						<p class="temp">
							<span class="temp-value">{{Data.Temperature}}</span>
		<span class="temp-value">K</span>
		</p>
	</div>
</div>
<div class="bottom">
	<div class="wrapper">
		<ul class="forecast">
			<li class="active">
				<span class="date">Datetime :</span>
				<span class="lnr condition">
									<span class="temp">{{Data.DateTime}}</span>
				</span>
			</li>
			
		</ul>
	</div>
</div>
</div>
</span>
</div>
</div>